/* GENERAL STYLE */

:root {
  --primary-color: #015d84;
  --primary-gradient: linear-gradient(
    to right top,
    #00709f,
    rgb(45, 191, 254, 0.2)
  );
  --glass-gradient: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

body {
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: 400;
  font-style: italic;
}

a:link,
a:visited {
  color: var(--primary-color);
}

i {
  margin-left: 10px;
  margin-right: 10px;
  transition: 200ms ease-in-out;
}

.fa-2x:hover {
  opacity: 70%;
}

/* glass effect */

.glass {
  position: relative;
  z-index: 2;
  background: var(--glass-gradient);
  backdrop-filter: blur(6px);
  padding: 20px;
  margin: 5%;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* HEADER */

/* navbar */
.navbar-nav {
  margin-left: auto;
}

li {
  padding: 10px;
}

.navbar {
  background: var(--glass-gradient) !important;
  backdrop-filter: blur(6px) !important;
  margin-top: -80px;
}

.resume {
  font-weight: bold;
  color: var(--primary-color);
}

.hero {
  background: var(--primary-gradient);
  text-align: center;
  padding-top: 200px;
}

.intro {
  height: 1000px;
  position: relative;
}

#overview-title {
  text-align: center;
}

#overview-section {
  margin-top: -740px;
}

#overview-description {
  display: grid;
  padding: 20px;
}

/* top wave (used a tool from www.shapedivider.app) */

.wave-1 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 218px;
}

.wave-1 .shape-fill {
  fill: #ffffff;
}

#footer {
  text-align: center;
  margin: 50px;
}

.design-process {
  display: flex;
  margin: 20px;
  justify-content: center;
  gap: 100px;
}

.desig-step {
  text-align: center;
}

.desig-step > h4 {
  margin-top: 40px;
}

.design-process-section > h3 {
  text-align: center;
  margin-bottom: 40px;
}

#user-one,
#user-two {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

#enthusiast,
#personal {
  align-self: center;
}

.user-defined {
  width: 30%;
  margin: 50px;
}

#user-persona {
  display: flex;
}

.section {
  padding: 5%;
}
