/* GENERAL STYLE */

:root {
  --primary-color: #015d84;
  --primary-gradient: linear-gradient(
    to right top,
    #00709f,
    rgb(45, 191, 254, 0.2)
  );
  --glass-gradient: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

body {
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-weight: bold;
}

a:link,
a:visited {
  color: var(--primary-color);
}

/* background */

.circle-1 {
  background: var(--primary-gradient);
  height: 25rem;
  width: 25rem;
  position: absolute;
  top: 1200px;
  left: -100px;
  border-radius: 50%;
}

.circle-2 {
  background: var(--primary-gradient);
  height: 45rem;
  width: 45rem;
  position: absolute;
  top: 1400px;
  right: 0px;
  border-radius: 50%;
}

/* glass effect */

.glass {
  position: relative;
  z-index: 2;
  background: var(--glass-gradient);
  backdrop-filter: blur(6px);
  padding: 20px;
  margin: 5%;
}

/* HEADER */

/* navbar */
.navbar-nav {
  margin-left: auto;
}

li {
  padding: 10px;
}

.navbar {
  background: var(--glass-gradient) !important;
  backdrop-filter: blur(6px) !important;
  margin-top: -80px;
}

.resume {
  font-weight: bold;
  color: var(--primary-color);
}

.hero {
  min-height: 100vh;
  background: var(--primary-gradient);
  text-align: center;
  border-bottom-right-radius: 150px;
}

.intro {
  height: 1100px;
  position: relative;
}

#introduction {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding-top: 300px;
}

/* top wave (used a tool from www.shapedivider.app) */

.wave-1 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 218px;
}

.wave-1 .shape-fill {
  fill: #ffffff;
}

/* MAIN SECTION */

/* about me */

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#headshot {
  width: 300px;
  height: 300px;
}

.about-me {
  margin-top: -150px;
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact {
  font-weight: 600;
  text-decoration: none;
}

#contact:hover {
  text-decoration: underline;
}

.center {
  margin: 15px 0px;
  text-align: center;
}

.tool-size {
  font-size: 5rem;
}

/* projects */

.project-img {
  width: 20rem;
}

i {
  margin-left: 10px;
  margin-right: 10px;
  transition: 200ms ease-in-out;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-twitter:hover {
  opacity: 70%;
}

#coming-soon {
  width: 250px;
}

/* contact me */

.main-btn {
  background-color: var(--primary-color);
  color: white;
  width: 250px;
  height: 80px;
}

#button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* bottom wave (used a tool from www.shapedivider.app)*/

.wave-2 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 251px;
}

.wave-2 .shape-fill {
  fill: #ffffff;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  background: var(--primary-gradient);
  text-align: center;
}

.contact-me {
  margin-bottom: -520px;
}

.info {
  position: relative;
  align-self: flex-end;
}

.credit {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

.credit-name {
  text-decoration: none;
}

/* MEDIA QUERIES */
@media (max-width: 999px) {
  .circle-2 {
    height: 40rem;
    width: 40rem;
    top: 1700px;
    right: 10px;
  }

  .tool-size {
    font-size: 4rem;
  }
}

@media (max-width: 760px) {
  .wave-1 svg {
    width: calc(90% + 260px);
  }

  .wave-2 svg {
    width: calc(100% + 530px);
  }

  h1 {
    font-size: 55px;
    margin: 0;
  }
  h2 {
    font-size: 25px;
    white-space: pre-line;
  }

  .typing {
    display: inline-block;
  }

  .tool-size {
    font-size: 4rem;
  }

  .circle-2 {
    top: 1900px;
  }

  .circle-3 {
    background: var(--primary-gradient);
    height: 30rem;
    width: 30rem;
    position: absolute;
    top: 2775px;
    left: -300px;
    border-radius: 50%;
  }

  .circle-4 {
    background: var(--primary-gradient);
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 3350px;
    right: 10px;
    border-radius: 50%;
  }

  .circle-5 {
    background: var(--primary-gradient);
    height: 40rem;
    width: 40rem;
    position: absolute;
    top: 3800px;
    right: 10px;
    border-radius: 50%;
  }
  /*
  .credit {
    padding-top: 3rem;
  }

  .pb-5 {
    padding-bottom: 1.5rem !important;
  }
  */
}

@media (max-width: 400px) {
  #introduction {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    padding-top: 230px;
  }

  .py-4 {
    padding-top: 35.5rem !important;
  }

  .tool-size {
    font-size: 3rem;
    margin: 5px;
  }

  .circle-5 {
    background: var(--primary-gradient);
    height: 50rem;
    width: 50rem;
    position: absolute;
    top: 4000px;
    right: 10px;
    border-radius: 50%;
  }

  .circle-6 {
    background: var(--primary-gradient);
    height: 20rem;
    width: 20rem;
    position: absolute;
    top: 5369px;
    right: 10px;
    border-radius: 50%;
  }
}

/* Animation */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing {
  position: relative;
  font-style: italic;
}

.typing::after {
  content: "";
  position: absolute;
  right: -7px;
  width: 1px;
  height: 90%;
  border-right: 3px solid white;
  animation: blink 0.6s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
