:root {
  --primary-color: #015d84;
}

body {
  font-family: "Space Mono", monospace;
  color: var(--primary-color);
}

/* HEADER */

.hero {
  min-height: 100vh;
  background: linear-gradient(to right top, #00709f, rgb(45, 191, 254, 0.2));
  text-align: center;
  border-bottom-right-radius: 150px;
}

.intro {
  height: 1100px;
  position: relative;
}

#introduction {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding-top: 300px;
}

h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

/* Wave style */
.wave-1 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 218px;
}

.wave-1 .shape-fill {
  fill: #ffffff;
}

/* MAIN SECTION */

.about-me {
  padding: 20px;
  border-radius: 8px;
  margin: 5%;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

#headshot {
  width: 300px;
  height: 300px;
}

.glass {
  position: relative;
  margin-top: -150px;
  z-index: 2;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(6px);
}
